<!DOCTYPE HTML>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <title>Best Paw</title>
    <link rel="stylesheet" href="/app/assets/styleshhets/homes.scss" />
  </head>
  <body>
    <a href="">肉球画像（予定）</a>
  </body>
</html>